.container {
    width: 900px;
    height: 300px;
    
    position: relative;
}
.child {
    position: absolute;
    top: 40%;
    left:0%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}
.loader {
    position: relative;
    top: calc(50%);
    left: calc(50%);
    width: 6em;
    height: 6em;
  }